<article class="post post-type-normal">
  <div class="post-block">
    <header class="post-header">
      <h2 class="post-title" itemprop="name headline">
        <a href='#/archive/<%- href %>' class="post-title-link" itemprop="url"><%=title %></a>
      </h2>
      <div class="post-meta">
        <span class="post-time">
          <span class="post-meta-item-icon">
            <i class="fa fa-calendar-o"></i>
          </span>
          <span class="post-meta-item-text">发布:</span>
          <time title="Created: <%=createAt %>" itemprop="dateCreated datePublished" datetime="<%=createAt %>"><%=createAt %></time>
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="fa fa-calendar-check-o"></i>
          </span>
          <span class="post-meta-item-text">更新:</span>
          <time title="Modified:<%=updatedAt %>" itemprop="dateModified" datetime="<%=updatedAt %>"><%=updatedAt %></time>
        </span>
        <!-- <span class="post-comments-count">
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="fa fa-comment-o"></i>
          </span>
          <span class="post-meta-item-text">Comments: </span>
          <a href="/next-6-6-0-released/#comments" itemprop="discussionUrl">
            <span class="post-comments-count disqus-comment-count" data-disqus-identifier="next-6-6-0-released/" itemprop="commentCount">0</span>
          </a>
        </span> -->
      </div>
    </header>
    <div class="post-body">
      <div class="markdown-body">
        <%-body || '' %>
      </div>
    </div>
  </div>
</article>